<div>
    <img style="float:right;" src="images/smi-logo.png"/>
    <div style="float:left;color:#58288C;"><h1>Datenanalyse und Datenmanagement</h1></div>
</div>

---
# Notebook V: Exercise
In diesem Notebook geht es darum, das Gelernte auf einen zusammenhängenden Case anzuwenden.


## Aufgabenstellung 
1. Formuliere das Research Problem
2. Lies aus der SQLite-Datenbank die Daten ein und bereite dein DataFrame für die Analyse vor
3. Datenexploration  
    3.1. Untersuche die Merkmale einzeln mit deskriptiver Statistik und geeigneten Visualisierungen
    3.2. Untersuche Zusammenhänge zwischen den Merkmalen mit geeigneten Methoden
4. Feature Engineering: Kodiere die Merkmale in geeigneter Form für Machine Learning und Teile den Datensatz in Test- und Trainingsdaten
7. Modelling: Erzeuge einen Entscheidungsbaum aus den Trainingsdaten
8. Modellevaluation: Visualisiere den Entscheidungsbaum, berechne Precision und Recall
9. Interpretiere dein Ergebnis im Hinblick auf Business- und Research-Problem


## Datensätze

Dazu stehen folgende Datensätze zur Auswahl, die nachfolgend vorgestellt werden. 

> 1. [Zielgruppentargeting](#dataset1)
> 2. [Kündigungsprävention Telco / Deutschland](#dataset2)
> 3. [Kündigungsprävention Telco / Asien](#dataset3)
> 4. [Kundenaktivierung Audiobook-App](#dataset4)
> 5. [Kündigungsprävention Zeitungsverlag](#dataset5)
> 6. [Bewertung Kundenstamm Retail Banking](#dataset6)
> 7. [Immobilienbewertung](#dataset7)

Sie befinden sich in der SQLite Datenbank ```exercises.db```, die noch im ZIP-Format komprimiert ist.
Um direkt einen Einblick in den Aufbau zu erhalten, entpacken wir die Datenbank zunächst und stellen eine Verbindung her.

In [6]:
!unzip -o -d data data/exercises.zip
%load_ext sql
%sql sqlite:///data/exercises.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

---
### 1. Zielgruppentargeting <a id="dataset1"/>

#### Hintergrund
Im Marketing wird eine Promotion-Kampagne entwickelt. Die Zielgruppe kann aus einem Kundenstamm von 6400 Kunden rekrutiert werden.

#### Business Problem
Da die Stückkosten der Kampagne zur Aussendung erheblich sind, sollen die Streuverluste (Anteil non-responder) durch intelligentes Targeting (= Zielgruppenauswahl) minimiert werden.

#### Datengrundlage

- Kundenprofil: Wohnumgebung (zip_code), kommt er/sie aus "kunden-werben-kunden" (is_referral), Kontaktpräferenz (channel)
- Transaktionshistorie: wie lange ist die letzte Transaktion her (recency) und Kundenumsatz (history)
- Wurden Discount-Angebote oder BOGO-Angebote (Buy One Get One Free) früher ausgesprochen?
- Welche Kampagne war zuletzt aktiv / welches Angebot wurde zuletzt gemacht (offer)?
- Hat der Kunde das Angebot angenommen (conversion)?

#### Datenauszug

In [7]:
%sql SELECT * FROM targeting LIMIT 5

 * sqlite:///data/exercises.db
Done.

[(0, 10, 142.44, 1, 0, 'Surburban', 0, 'Phone', 'Buy One Get One', 0),
 (1, 6, 329.08, 1, 1, 'Rural', 1, 'Web', 'No Offer', 0),
 (2, 7, 180.65, 0, 1, 'Surburban', 1, 'Web', 'Buy One Get One', 0),
 (3, 9, 675.83, 1, 0, 'Rural', 1, 'Web', 'Discount', 0),
 (4, 2, 45.34, 1, 0, 'Urban', 0, 'Web', 'Buy One Get One', 0)]

---
### 2. Kündigungsprävention Telco / Deutschland <a id="dataset2"/>

#### Hintergrund

Das CRM-Team eines Telekommunikationsunternehmens entwickelt eine Kampagne zur Kündigungsprävention bei Privatkunden. Um sie an das Unternehmen zu binden, sollen Gratismonate und Rabatte gegen Abschluss einer Vertragsverlängerung angeboten werden.

#### Business Problem

Damit die Kampagne wirtschaftlich erfolgreich sein kann, ist es erforderlich, nur Kunden mit hohem Kündigungsrisiko anzusprechen. Andernfalls würde die Kampagne unnötige Rabatte vergeben und direkt entgangene Umsätze zur Folge haben.

#### Datengrundlage

Der Datensatz umfass folgende Informationen:
- Customers who left within the last month – the column is called Churn
- Services that each customer has signed up for – phone, multiple lines, internet, online security, online backup, device protection, tech support, and streaming TV and movies
- Customer account information – how long they’ve been a customer, contract, payment method, paperless billing, monthly charges, and total charges
-Demographic info about customers – gender, age range, and if they have partners and dependents

#### Datenauszug

In [8]:
%sql SELECT * FROM telco_churn_ger LIMIT 5

 * sqlite:///data/exercises.db
Done.

[(0, '7590-VHVEG', 'Female', 0, 'Yes', 'No', 1, 'No', 'No phone service', 'DSL', 'No', 'Yes', 'No', 'No', 'No', 'No', 'Month-to-month', 'Yes', 'Electronic check', 29.85, '29.85', 'No'),
 (1, '5575-GNVDE', 'Male', 0, 'No', 'No', 34, 'Yes', 'No', 'DSL', 'Yes', 'No', 'Yes', 'No', 'No', 'No', 'One year', 'No', 'Mailed check', 56.95, '1889.5', 'No'),
 (2, '3668-QPYBK', 'Male', 0, 'No', 'No', 2, 'Yes', 'No', 'DSL', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'Month-to-month', 'Yes', 'Mailed check', 53.85, '108.15', 'Yes'),
 (3, '7795-CFOCW', 'Male', 0, 'No', 'No', 45, 'No', 'No phone service', 'DSL', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'One year', 'No', 'Bank transfer (automatic)', 42.3, '1840.75', 'No'),
 (4, '9237-HQITU', 'Female', 0, 'No', 'No', 2, 'Yes', 'No', 'Fiber optic', 'No', 'No', 'No', 'No', 'No', 'No', 'Month-to-month', 'Yes', 'Electronic check', 70.7, '151.65', 'Yes')]

---
### 3. Kündigungsprävention Telco / Asien <a id="dataset3"/>

#### Hintergrund

Das CRM-Team eines Telekommunikationsunternehmens entwickelt eine Kampagne zur Kündigungsprävention bei Privatkunden. Um sie an das Unternehmen zu binden, sollen Gratismonate und Rabatte gegen Abschluss einer Vertragsverlängerung angeboten werden.

#### Business Problem

Damit die Kampagne wirtschaftlich erfolgreich sein kann, ist es erforderlich, nur Kunden mit hohem Kündigungsrisiko anzusprechen. Andernfalls würde die Kampagne unnötige Rabatte vergeben und direkt entgangene Umsätze zur Folge haben.

#### Datengrundlage

Der Datensatz umfasst folgende Merkmale:

- Aggregate of Total Revenue: The overall monthly revenue earned in Rupees by the carrier in the months August & September 2015.
- Aggregate of SMS Revenue: The revenue earned through the SMS service used by the subscriber.
- Aggregate of Data Revenue: The revenue earned through the Data service used by the subscriber.
- Aggregate of Off Net Revenue: The revenue earned by the calls etc. made to the off-network (not the same network as the subscriber) customers by the carrier’s -present subscriber.
- Aggregate of On Net Revenue: The revenue earned by the calls etc. made to the on-network (on the same network as the subscriber) customers by the carrier’s present subscriber.
- Network Age: The time passed since the subscriber started using the services of the carrier.
- User Type: This detail helps in knowing if the user is subscribed to a 2G or 3G service.
- Aggregate of Complaint Count: The number of complaints made by the subscribers.
- Favorite Other Network: This information can certainly have a huge impact on churn ratio as it gives the information about which other network or operator the subscribers makes the most of the calls to and thus might influence the customer to move to that network to save money.
- Aggregate of Data Volume: The volume of the data service used by the subscriber.
- Class: Did the customer churn or remain active.


#### Datenauszug

In [10]:
%sql SELECT * FROM telco_churn_asia LIMIT 5

 * sqlite:///data/exercises.db
Done.

[(0, 1914, 1592.72, 23.26, 2.5, 11.6113, 375, 25523, 99000, 1, '2G', '2G', 'telenor', 'mobilink', 'Churned'),
 (1, 2073, 1404.1496, 174.45, 27.5, 2531.7246, 389, 14584, 77299, 1, '2G', '2G', 'mobilink', 'ufone', 'Churned'),
 (2, 3139, 85.5504, 14.34, 5.0, 29133.0557, 15, 477, 4194, 1, 'Other', 'Other', 'ptcl', 'telenor', 'Churned'),
 (3, 139, 2315.2292, 19.25, 52.5, 267441.2813, 636, 50316, 52400, 2, '2G', '2G', 'telenor', 'ufone', 'Active'),
 (4, 139, 227.862, 2.95, 42.5, 1461620.5159999998, 17, 2568, 1701, 1, None, None, 'mobilink', 'ufone', 'Active')]

---
### 4. Kundenaktivierung Audiobook-App <a id="dataset4"/>

#### Hintergrund

Die Subscriptions einer Audiobook-App sind unter Druck, zahlreiche Kunden hören auf die App zu nutzen und kaufen keine weiteren Bücher. Im CRM sind zahlreiche Informationen zur App-Nutzung pro Kunde zusammengeführt. Auf der Basis möchte das Management genauer verstehen, was vor sich geht.

#### Business Problem

Um Anhaltspunkte für mögliche Maßnahmen zu erhalten, es es erforderlich im Rückblick zu verstehen, welche Kunden in den letzten sechs Monaten gekündigt haben. Mit diesem Input sollen in Kreativworkshops Maßnahmen für Risikokunden im Kundenbestand entwickelt werden. Die Zielgruppe für diese Maßnahmen ist ebenso zu ermitteln.

#### Datengrundlage

- Book_length(mins)_overall: is the sum of the lengths of purchases.
- Book_length(mins)_avg: is the sum of the lengths of purchases divided by the number of purchases. Notice we don't need the number of purchases column because we ca get it from Book_length(mins)_overall / Book_length(mins)_avg.
- Price_overall & Price_avg: Same as Book length, the price variable is almost always a good predictor.
- Review: is boolean. It shows if the customer left a review. If so, Review10/10 saves the review left by the user. While most users don't left a review we fill the missing reviews by avrage review column.
- Minutes_listened: is a measure of engagement, the total of minutes the user listen to audiobooks.
- Completion: is the Minutes_listened / Book_length(mins)_overall.
- Support_Request: Shows the total number of support request (forgotten password to assistance).
- Last_Visited_mins_Purchase_date: the bigger the difference, the bigger sooner the engagement. If the value is 0, we are sure the customer has never accessed what he/she has bought.
- The data was gathered from the audiobook app, the input data represents 2 years worth of engagement. We are doing supervised learning so we need target. We took extra 6 month to check if the user converted or not. 1 if the customer buys in the next 6 months, 0 if the customer didn't.
- target: 1 if the customer bought again in the last 6 months of data. 0 if the customer did not buy again.

#### Datenauszug

In [9]:
%sql SELECT * FROM audiobook_churn LIMIT 5

 * sqlite:///data/exercises.db
Done.

[(0, 994, 1620.0, 1620, 19.73, 19.73, 1, 10.0, 0.99, 1603.8, 5, 92, 0),
 (1, 1143, 2160.0, 2160, 5.33, 5.33, 0, 8.91, 0.0, 0.0, 0, 0, 0),
 (2, 2059, 2160.0, 2160, 5.33, 5.33, 0, 8.91, 0.0, 0.0, 0, 388, 0),
 (3, 2882, 1620.0, 1620, 5.96, 5.96, 0, 8.91, 0.42, 680.4, 1, 129, 0),
 (4, 3342, 2160.0, 2160, 5.33, 5.33, 0, 8.91, 0.22, 475.2, 0, 361, 0)]

---
### 5. Kündigungsprävention Zeitungsverlag <a id="dataset5"/>

#### Hintergrund
Die Printbranche ist seit Jahrzehnten in der Krise und neben immer neuen Digitalangeboten ist ein möglichst effizientes Bestandskundenmanagement überlebensnotwendig. Analog zu Fitnessstudios gibt es zahlreiche "Schläfer" - Kunden, die das Produkt wenig nutzen, aber trotzdem Abonnent bleiben. In einer letzten telefonischen Bestandskundenkampagne wurden mehr Kündigungen ausgelöst als Upsell.

#### Business Problem
Bei der Planung zukünftiger Marketingkampagnen ist es unerlässlich, "Schläferkunden" im schwindenden Abonnentenbestand nicht aufzuschrecken und durch ungünstige Kontakte zum Kündigen zu bewegen. 

#### Datengrundlage

Der Datensatz enthält 
- demographische Daten zum Abonnenten, 
- zu wöchentlichen Zahlungen, 
- dem Zustellrhythmus, 
- zugekauften Daten zum Regionentyp von Nielsen ([Prizm](https://en.wikipedia.org/wiki/Claritas_Prizm)), 
- dem Kanal den das Abo abgeschlossen wurde sowie
- die Information, ob der Kunde heute noch Abonnent ist.

#### Datenauszug

In [17]:
%sql SELECT * FROM newspaper_churn LIMIT 5

 * sqlite:///data/exercises.db
Done.

[(0, 0, 180590686, '$  30,000 - $39,999', 'RENTER', 'German', 'N', 1, '25-29', 'German', '1 3RD PL UNIT 703', 'CA', 'LONG BEACH', 'LOS ANGELES', 90802, '$7.00 - $7.99', '7Day', 'FM', 0, 'CircAdm', 'NO'),
 (1, 1, 181401653, '$500,000 Plus', 'OWNER', 'unknown', 'Y', 14, '50-54', None, '1 AVIGNON', 'CA', 'NEWPORT COAST', 'ORANGE', 92657, '$0.01 - $0.50', 'SunOnly', 'MW', 0, 'Partner', 'YES'),
 (2, 2, 180374685, '$100,000 - $124,999', 'OWNER', 'Italian', 'Y', 7, '45-49', 'English', '1 BLACKSWAN', 'CA', 'IRVINE', 'ORANGE', 92604, '$0.01 - $0.50', 'SunOnly', 'MW', 0, 'Partner', 'YES'),
 (3, 3, 180703483, '$200,000 - $249,999', 'OWNER', 'English', 'N', 23, '55-59', 'English', '1 BLUE HORIZON', 'CA', 'LAGUNA NIGUEL', 'ORANGE', 92677, '$1.00 - $1.99', 'SunOnly', 'MW', 1, 'Internet', 'NO'),
 (4, 4, 180358906, '$  50,000 - $59,999', 'OWNER', 'Italian', 'N', 23, '60-64', 'English', '1 BRISA DEL LAGO', 'CA', 'RANCHO SANTA MARGARITA', 'ORANGE', 92688, '$8.00 - $8.99', 'Thu-Sun', 'MM', 0, 'Crew', 'YES')]

---
### 6. Bewertung Kundenstamm Retail Banking <a id="dataset6"/>

#### Hintergrund

Das Privatkundengeschäft einer Bank soll im Zuge einer strategischen Neuausrichtung verkauft werden. Neben dem Filial- und Geldautomatennetz ist der Kundenstamm das wesentliche Asset.

#### Business Problem

Da das Privatkundengeschäft zuletzt vernachlässigt wurde, haben viele Kunden trotz der hohen Wechselbarrieren (Aufwand des Kontoumzugs) die Bank verlassen. Zur Bewertung des Kundenbestands ist ein ausführliches Verständnis über dessen Zusammensetzung erforderlich. Daneben muss die Bank das Kündigungsverhalten erklären: Wieviele und welche Kunden lösen ihr Konto auf? Verliert die Bank Topkunden gemessen an Einkommen und Kreditwürdigkeit? Welche Kunden im verbleibenden Kundenbestand sind als potenzielle Kündiger anzusehen?

#### Datengrundlage

Der Datensatz enthält
- demographische Informationen zum Kunden
- Dauer des Kundenverhältnisses (tenure)
- Kontostand (balance)
- Anzahl der bezogenen Produkte (z.B. Altersvorsorge, Versicherungen, Bausparvertrag, ...)
- Mitglied im Loyalty-Programm (IsActiveMember)
- Aus Überweisungsdaten geschätztes Gehalt (EstimatedSalary)
- Kontoauflösung in den letzten 12 Monaten (Exited)

#### Datenauszug

In [18]:
%sql SELECT * FROM bank_churn LIMIT 5

 * sqlite:///data/exercises.db
Done.

[(0, 1, 15634602, 'Hargrave', 619, 'France', 'Female', 42, 2, 0.0, 1, 1, 1, 101348.88, 1),
 (1, 2, 15647311, 'Hill', 608, 'Spain', 'Female', 41, 1, 83807.86, 1, 0, 1, 112542.58, 0),
 (2, 3, 15619304, 'Onio', 502, 'France', 'Female', 42, 8, 159660.8, 3, 1, 0, 113931.57, 1),
 (3, 4, 15701354, 'Boni', 699, 'France', 'Female', 39, 1, 0.0, 2, 0, 0, 93826.63, 0),
 (4, 5, 15737888, 'Mitchell', 850, 'Spain', 'Female', 43, 2, 125510.82, 1, 1, 1, 79084.1, 0)]

---
### 7. Immobilienberwertung <a id="dataset7"/>

#### Hintergrund

Ein internationaler Immobilienentwickler möchte auf dem deutschen Markt Fuß fassen und plant den Markteintritt durch erste Grundstücks- und Bestandsimmobilienkäufe. Parallel werden mit Architekten Neubauten und Altbausanierungen konkret geplant.

#### Business Problem

Für einen erfolgreichen Markteintritt ist ein genaues Verständnis gefragter Lagen, Grundrisse und Ausstattungsmerkmale erforderlich. Als gefragt kann eine Lage/Merkmal vereinfacht gelten, wenn die Mietkosten über dem Median liegen. Inbesondere relevant ist die Raumanzahl, Wohnfläche und Ausstattung wie Heizungstyp, Küche, Balkon etc. Diese Merkmale sollten zwischen Stadt und Land unterschieden werden - näherungsweise genügt hier die Unterscheidung zwischen einer Lage in deutschen Großstädten (>500.000 Einwohner) und dem Rest (vgl. hierzu [Wikipedia](https://de.wikipedia.org/wiki/Liste_der_Großstädte_in_Deutschland#Tabelle)).

Das Architekturbüro wird daraufhin Excellisten mit geplanten Wohneinheiten anfertigen - zur Validierung müssen wir wissen, mit wie hohen Mieteinnahmen zu rechnen sein wird.

#### Datengrundlage

Der Datensatz enthält angebotene Mietobjekte in ganz Deutschland:
- Regionalinformation
- Warmmiete (obj_totalRent), Kaltmiete (obj_baseRent), Nebenkosten (obj_serviceCharge) und Heizkosten (heatingCost)
- Informationen zur Heizung (heatingType), Neubau (newlyConst), Baujahr (yearConstructed)
- Anzahl Räume (noRomms), Stockwerk (obj_floor), Anzahl Stockwerke (numberOfFloors), Wohnfläche (livingSpace), Art der Wohnung (typeOfFlat)
- Niveau der Ausstattung (obj_interiorQual), Zustand (obj_condition) und Jahr der letzten Renovierung (lastRefurbish)
- Haustiererlaubnis (petsAllowed)
- Vorhandensein von Parkplätzen, Küche, Keller, Balkon, Garten, Aufzug...
- Handelt es sich um betreutes Wohnen (assistedLiving), ist das Objekt behindertengerecht (barrierFree)
- Anzahl der Bilder im Inserat
- Maximal mögliche Internetanbindung

#### Datenauszug

In [7]:
%sql SELECT * FROM housing_ger LIMIT 5

 * sqlite:///data/exercises.db
Done.

[(0, 0, 0, 'Nordrhein_Westfalen', 174.0, 'floor_heating', 'y', 'y', 'https://pictures.immobilienscout24.de/listings/c98b933d-1e39-4e92-96eb-8becb9fdf95c-1363579556.jpg/ORIG/resize/118x118%3E/extent/118x118/format/jpg/quality/80', 14, '40 MBit/s', 887.0, 2019.0, 'REGULAR', 1.0, 'district_heating', 'n', 'False', 'MagentaZuhause L', 'Nordrhein_Westfalen', 'y', 9.0, 713, '31a', 3.68, 62, 'Bielefeld', 33602, 'first_time_use', 'sophisticated', 'no', '100 MBit/s', 'y', 5, 'Werner-Bock-Straße', 'ground_floor', 33602, 2, 'n', '100 MBit/s', 'wohnung_miete', 1.0, 5.0, 2, 'n', 'y', 'Innenstadt', 3, 'Bielefeld', None, '', None, None),
 (1, 1, 1, 'Nordrhein_Westfalen', 110.0, 'central_heating', 'n', 'y', 'https://pictures.immobilienscout24.de/listings/37a9d879-12dc-405f-bc6c-73f2d3b51a25-1363579188.png/ORIG/resize/118x118%3E/extent/118x118/format/jpg/quality/80', 10, '2,4 MBit/s', 690.0, 2002.0, 'WITH_HYBRID', 1.0, 'oil', 'y', 'False', 'MagentaZuhause M Hybrid (2)', 'Nordrhein_Westfalen', 'y', 6.0, 580, 'no_informa', 3.12, 70, 'Minden_Lübbecke_Kreis', 32339, 'negotiable', 'normal', 'no', '16 MBit/s', 'n', 4, 'no_information', 'ground_floor', 32339, 2, 'n', '50 MBit/s', 'wohnung_miete', 1.0, 2.0, 2, 'y', 'n', 'Espelkamp', 3, 'Minden_Lübbecke_Kreis', 2017.0, '', None, None),
 (2, 2, 2, 'Bayern', 260.0, 'central_heating', 'n', 'y', 'https://pictures.immobilienscout24.de/listings/f4a129ca-0a60-4ab1-8ca5-6901b2b438ca-1363588853.jpg/ORIG/resize/118x118%3E/extent/118x118/format/jpg/quality/80', 19, '40 MBit/s', 1885.0, 2015.0, 'REGULAR', 1.0, 'gas:oil', 'y', 'False', 'MagentaZuhause L', 'Bayern', 'y', 8.0, 1590, 'no_informa', 4.73, 152, 'Bad_Tölz_Wolfratshausen_Kreis', 82544, 'well_kept', 'sophisticated', 'negotiable', '100 MBit/s', 'y', 8, 'no_information', 'loft', 82544, 2, 'n', '100 MBit/s', 'wohnung_miete', 2.0, 2.0, 2, 'n', 'n', 'Egling', 7, 'Bad_Tölz_Wolfratshausen_Kreis', 2016.0, 'B', 60.6, None),
 (3, 3, 3, 'Nordrhein_Westfalen', 150.0, 'gas_heating', 'n', 'y', 'https://pictures.immobilienscout24.de/listings/316323a5-7730-4197-83b0-c2fc8faff627-1363585714.jpg/ORIG/resize/118x118%3E/extent/118x118/format/jpg/quality/80', 27, '', 940.0, 1964.0, '', None, 'gas', 'n', '', '', 'Nordrhein_Westfalen', 'y', 2.0, 790, '97', None, 78, 'Köln', 51103, 'refurbished', 'sophisticated', 'no', '', 'n', 5, 'Ostheimer_Str.', 'maisonette', 51103, 3, 'n', '', 'wohnung_miete', 3.0, 3.0, 3, 'y', 'n', 'Vingst', 3, 'Köln', 2017.0, '', None, None),
 (4, 4, 4, 'Nordrhein_Westfalen', 125.0, 'central_heating', 'n', 'n', 'https://pictures.immobilienscout24.de/listings/ac957fd4-17de-4578-8b57-74d4df205b6e-1358151920.jpg/ORIG/resize/118x118%3E/extent/118x118/format/jpg/quality/80', 11, '40 MBit/s', 700.0, 1855.0, 'REGULAR', 1.0, 'gas', 'n', 'False', 'MagentaZuhause L', 'Nordrhein_Westfalen', 'n', 1.0, 575, 'no_informa', 1.47, 75, 'Dortmund', 44265, 'modernized', 'normal', 'negotiable', '100 MBit/s', 'n', 4, 'no_information', 'roof_storey', 44265, 3, 'n', '100 MBit/s', 'wohnung_miete', 2.0, 2.0, 3, 'y', 'n', 'Buchholz', 3, 'Dortmund', 2020.0, '', None, None)]